/* h1、p、body要素の上下左右余白（margin）を0にする */
h1,
p,
body{
    margin:0;
}

/* p要素とa要素のフォントサイズを20pxとする */
#p
#a{
    font-size: 20px;
}

/*ヘッダーのスタイルを設定 */
header{
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    justify-content: center;
    text-align: center;
}

/* 3つの画像のスタイルを設定 */
.contents{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;

}

/* h1の文字色を設定 */
h1{
    color: rgb(255, 255,255)
}

/* 全体の余白を設定 */
main{
    margin: 10px 10px;
}

/* parentの要素のスタイルの設定 */
#parent{
    display: flex;  
    justify-content: space-between;
}

/* h2のスタイルの設定 */
.contents h2{
    display: block;
    width: 100%;
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
    
}

/* ●の設定 */
h2::before{
    content: "●";
    color: rgb(239, 111, 139);
}

/* 「傘」という文字のスタイル */
.contents p:nth-of-type(2)::first-letter{
    font-weight:bold;
    color: rgb(97, 206, 249);
}

.contents img{
    margin: 10px 0px;
    width: 70%;
}

/* フッターのスタイル */
footer{
    background-color: rgb(244, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color:rgb(255,255,255);
}

/* レスポンシブ対応 */
a:visited{
    color: rgb(193, 234, 251);    
}

a:hover{
    color: rgb(245, 178, 168);
}

@media screen and (max-width:768px){
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
    #parent{
        flex-direction: column;
    }
}